<!-- footer -->
<div class="border">
  <br><br>
  <div class="container w-full max-w-[1004px] px-1 mx-auto grid md:grid-cols-4 gap-y-12 gap-x-8">
    <div>
      <h3 class="font-bold text-base">CONTACT INFO</h3><br>

      <div class="grid gap-y-1">
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut
          labore et dolore magna aliqua.</p><br>
        <p class="text-sm"><fa-icon [icon]="faLocation"></fa-icon>
          <em> 123 Street, Town, CA 10100, USA</em></p>
        <p class="text-sm text-blue-500 hover:underline"><fa-icon [icon]="faEnvelope" style="color: black"></fa-icon>
          myemail@example.com</p>
        <p class="text-sm text-blue-500 hover:underline"><fa-icon [icon]="faPhone" style="color: black"></fa-icon> (123)-456-7890
        </p>
      </div>

      <br>


      <div class="flex gap-2">
        <div>
          <a href="">
            <img src="assets/img/fb.png" class="hover:scale-125 rounded-full max-w-[36px] max-h-[36px]" /></a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/twit.webp" class="hover:scale-125 rounded-full max-w-[36px] max-h-[36px]" /></a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/yt.png" class="hover:scale-125 rounded-full max-w-[36px] max-h-[36px]" />
          </a>
        </div>
      </div><br>


    </div>
    <div>
      <h3 class="font-bold text-base">QUICK LINKS</h3><br>
      <div class="grid gap-y-2">
        <a href="">
          <p class="text-sm text-blue-500 hover:underline">About Us</p>
        </a>
        <a href="">
          <p class="text-sm text-blue-500 hover:underline">Our Services</p>
        </a>
        <a href="">
          <p class="text-sm text-blue-500 hover:underline">Contact Us</p>
        </a>
        <a href="">
          <p class="text-sm text-blue-500 hover:underline">Latest News</p>
        </a>
        <a href="">
          <p class="text-sm text-blue-500 hover:underline">Frequently Asked Questions</p>
        </a>
      </div>
    </div>
    <div>
      <h3 class="font-bold text-base">GALERY</h3><br>
      <div class="grid grid-cols-3 gap-x-2 gap-y-2">
        <div>
          <a href="">
            <img src="assets/img/grid8.webp" class="w-full max-w-[210px] max-h-[210]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid7.webp" class="w-full max-w-[210px] max-h-[210]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/mini.webp" class="w-full max-w-[210px] max-h-[210]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid5.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid4.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid3.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid2.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid1.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/meja1.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
      </div>
    </div>
    <div>
      <h3 class="font-bold text-base">RECENT POSTS</h3><br>


      <div class="grid gap-y-3">

        <div class="flex gap-x-3">
          <a href="">
            <img src="assets/img/last1.webp" class="h-64 w-64 max-w-[64px] max-h-[64px]" />
          </a>
          <div class="grid gap-y-1">
            <p class="font-bold text-xs hover:underline">The Key Of Branding – A Different View From User Perspective
            </p>
            <p class="text-xs font-normal text-gray-400">March 31, 2020</p>
          </div>
        </div>

        <div class="flex gap-x-3">
          <a href="">
            <img src="assets/img/last2.webp" class="h-64 w-64 max-w-[64px] max-h-[64px]" />
          </a>
          <div class="grid gap-y-1">
            <p class="font-bold text-xs hover:underline">What Is Conversion Rate And Why Is Everyone Talking About It?
            </p>
            <p class="text-xs font-normal text-gray-400">March 30, 2020</p>
          </div>
        </div>

        <div class="flex gap-x-3">
          <a href="">
            <img src="assets/img/last3.webp" class="h-64 w-64 max-w-[64px] max-h-[64px]" />
          </a>
          <div class="grid gap-y-1">
            <p class="font-bold text-xs hover:underline">
              Everything You Need to Know About Digital Marketing In 2020</p>
            <p class="text-xs font-normal text-gray-400">March 29, 2020</p>
          </div>
        </div>

      </div>

    </div>
  </div><br><br>
</div>

<div class="text-center">
  <br>
  <p class="text-base font-normal text-gray-500">Copyright © 2022 eStar. Theme <a
      href="https://gretathemes.com/wordpress-themes/estar/" class="text-blue-500 hover:underline">eStar</a>
    by GretaThemes.</p>
  <br>
</div>
