<div class="container w-full max-w-[1004px] px-1 mx-auto">
<div class="items-center flex flex-col md:grid md:grid-cols-2" id="about">
  <div class="gap-y-5 mx-5">
    <br><br>
    <p class="text-normal text-gray-400">FEATURES</p><br>
    <p class="text-4xl font-bold leading-tight">Create Profesional Layouts Like an Expert</p><br>
    <p class="text-lg leading-relaxed text-gray-600">Seamlessly integrating with Gutenberg (and
      other
      page builder plugins), eStar allows you to create professional layouts for your websites without
      installing any extra plugin. Building your homepage (just like this), landing pages, contact
      page,
      about page is now easy and take no time at all.</p><br>
    <button type="button"
      class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-bold rounded text-base px-5 py-2  dark:bg-blue-500 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn
      More</button>
  </div>

  <div class="order-first">
    <img src="assets/img/meja1.webp" class="h-[555px] w-[555px]" />
  </div>
</div>
</div>
