<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>



<!-- Navbar -->
<nav class="bg-white  border-gray-200 px-2 sm:px-4 py-2.5 rounded bg-white sticky top-0 z-10">
  <div class="container w-full max-w-[1004px] px-1 flex flex-wrap justify-between items-center mx-auto">
    <a href="https://demo.gretathemes.com/estar/" class="flex items-center">
      <div class="row-span-3"><img src="assets/img/navbar.webp" class="mr-3 h-6 sm:h-12"></div>
      <div class="grid grid-rows-2 grid-flow-col gap-0">
        <div class="font-bold text-xl dark:text-gray-900 col-span-2">ESTAR</div>
        <div class="font-normal dark:text-gray-900 col-span-2">Build Websites Easier</div>
      </div>
    </a>


    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-white dark:border-gray-700">
        <li class="group relative dropdown">
          <a
            class="block py-2 pr-4 pl-3 text-blue-400 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-blue-400 md:dark:hover:text-blue-600 dark:hover:bg-gray-700 dark:hover:text-blue-600 md:dark:hover:bg-transparent">DEMOS</a>
          <div class="group-hover:block dropdown-menu absolute hidden h-auto">
            <ul class="top-0 w-48 bg-white shadow px-6 py-2">
              <li class="py-1"><a
                  class="text-blue-400 font-semibold text-base uppercase hover:text-blue-400 cursor-pointer">MAIN
                  DEMO</a></li>
              <li class="py-1"><a
                  class="text-black font-semibold text-base uppercase hover:text-blue-400 cursor-pointer">SLIM SEO</a>
              </li>
              <li class="py-1"><a
                  class="text-black font-semibold text-base uppercase hover:text-blue-400 cursor-pointer">DELUXE BLOG
                  TIPS</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="#"
            class="block py-2 pr-4 pl-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-900 md:dark:hover:text-blue-600 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">ABOUT</a>
        </li>

        <li class="group relative dropdown">
          <a
            class="block py-2 pr-4 pl-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-900 md:dark:hover:text-blue-600 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">PAGES</a>
          <div class="group-hover:block dropdown-menu absolute hidden h-auto">
            <ul class="top-0 w-48 bg-white shadow px-6 py-2">
              <li class="py-1"><a
                  class="text-black font-medium text-base uppercase hover:text-blue-400 cursor-pointer">STYLE GUIDE</a>
              </li>
              <li class="py-1"><a
                  class="text-black font-medium text-base uppercase hover:text-blue-400 cursor-pointer">GUTENBERG</a>
              </li>
              <li class="py-1"><a
                  class="text-black font-medium text-base uppercase hover:text-blue-400 cursor-pointer">LANDING PAGE</a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="#"
            class="block py-2 pr-4 pl-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-900 md:dark:hover:text-blue-600 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">BLOG</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 pr-4 pl-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-900 md:dark:hover:text-blue-600 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">SHOP</a>
        </li>
        <li>
          <a href="#"
            class="block py-2 pr-4 pl-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-900 md:dark:hover:text-blue-600 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">CONTACT</a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-cart-arrow-down text-gray-500 text-xl"></i></a>
        </li>
        <li>
          <a href="#">
          <i class="fa-solid fa-magnifying-glass text-gray-500 text-xl"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>




<!-- Photo -->
<div class="">
  <img src="assets/img/bgland.webp" class="brightness-75 w-full h-1920px w-600px max-h-[600px]" />
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 space-y-6">
    <h1 class="text-5xl font-bold text-white text-center">
      Build Your Dream Website</h1>
    <p class="text-2xl font-normal text-white text-center truncate">Everything you need to build a business,
      portofolio,
      blog website.</p>

    <div class="w-full flex justify-center space-x-5">
      <button type="button"
        class=" text-white bg-blue-500 hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-bold  text-sm px-3 py-2.5 mb-2 rounded dark:bg-blue-500 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">DOWNLOAD
        NOW</button>
      <button
        class="text-white border-2 border-white hover:text-white font-bold  text-sm px-4 py-2.5 mb-2 rounded outline-none focus:outline-none"
        type="button">
        Learn More
      </button>
    </div>

  </div>
</div>


<!-- Content -->

<div class="container w-full max-w-[1004px] px-1 mx-auto">
  <div class="grid grid-cols-2">
    <div class="space-y-5 mx-5">
      <br><br>
      <p class="text-normal text-gray-400">FEATURES</p>
      <h2 class="text-4xl font-bold">Create Profesional Layouts <br> Like an Expert</h2>
      <p class="text-normal text-lg leading-relaxed text-gray-600">Seamlessly integrating with Gutenberg (and
        other
        page builder plugins), eStar allows you to create professional layouts for your websites without
        installing any extra plugin. Building your homepage (just like this), landing pages, contact
        page,
        about page is now easy and take no time at all.</p>
      <button type="button"
        class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-bold rounded text-base px-5 py-2  dark:bg-blue-500 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn
        More</button>
    </div>

    <div class="">
      <img src="assets/img/meja1.webp" class="h-[555px] w-[555px]" />
    </div>
  </div>


  <div class="grid grid-cols-2">
    <div class="">
      <img src="assets/img/mini.webp" class="h-[555px] w-[555px]" />
    </div>


    <div class="space-y-5 mx-10">
      <br><br><br>
      <p class="text-normal text-gray-400">FEATURES</p>
      <h2 class="text-4xl font-bold">Customize Each and <br> Everything You Need</h2>
      <p class="text-normal text-lg leading-relaxed text-gray-600">eStar provides a complete options set for you
        to
        customize the website, such as custom fonts, custom colors or layout options. With the target of
        using eStar to build multiple types of websites and keeping everything simple, the options are
        chosen carefully to make sure you’re not lost in the options maze.</p>
      <button type="button"
        class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-bold rounded text-base px-5 py-2  dark:bg-blue-500 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn
        More</button>
    </div>
  </div>
  <div style="height:64px" aria-hidden="  true" class="wp-block-spacer"></div>
  <p class="text-xl text-center mx-20">Building a website <em>might</em> takes a lot of time and effort. That’s why we
    build eStar to help you do
    that easier. Check out the features of this awesome WordPress theme below
  </p> <br><br>
  <h2 class="text-3xl text-center font-bold">Features</h2><br><br>

  <div class="grid grid-cols-3 gap-2 gap-x-10 gap-y-10">
    <div>
      <i class="fa-regular fa-file-code text-black text-6xl"></i> <br><br>
      <h3 class="font-bold text-xl">No jQuery</h3> <br>
      <p>To achieve the fastest speed, eStar doesn’t use jQuery at all. Everything is just a small vanilla JavaScript
        code!</p>
    </div>

    <div>
      <i class="fa-regular fa-clock text-black text-6xl"></i> <br><br>
      <h3 class="font-bold text-xl">Ultra Lightweight</h3> <br>
      <p>With less than 10KB of CSS and JS (gzipped), eStar probably is the most lightweight yet powerful theme
        available.</p>
    </div>

    <div>
      <i class="fa-regular fa-clipboard text-black text-6xl"></i> <br><br>
      <h3 class="font-bold text-xl">Gutenberg-First</h3> <br>
      <p>Built with Gutenberg in mind, eStar is optimized for the block editor with nice styling for blocks and
        combinations.</p>
    </div>

    <div>
      <i class="fa-regular fa-newspaper text-black text-6xl"></i> <br><br>
      <h3 class="font-bold text-xl">Page Builders Friendly</h3> <br>
      <p>Use eStar with your favorite page builder plugin to build custom layouts. It’s optimized to works with all
        page builders.</p>
    </div>

    <div>
      <i class="fa-solid fa-palette text-black text-6xl"></i> <br><br>
      <h3 class="font-bold text-xl">Fonts & Colors Options</h3> <br>
      <p>Customize colors and fonts for the whole theme with a few clicks. All Google Fonts are available for your
        choice.</p>
    </div>

    <div>
      <i class="fa-solid fa-pager text-black text-6xl"></i> <br><br>
      <h3 class="font-bold text-xl">Flexible Layout</h3> <br>
      <p>Layout options are available for archives, posts and pages. You can choose list, grid, card style with
        various options.</p>
    </div>
  </div>
  <br><br>

  <div class="text-center">
    <button type="button"
      class="text-white bg-blue-500 hover:bg-white focus:ring-4 focus:ring-blue-300 font-bold rounded text-sm px-6 py-3 mr-2 mb-2 dark:bg-blue-500 dark:hover:bg-white focus:outline-none dark:focus:ring-blue-800">Learn
      More</button>
    <br><br><br>
    <h2 class="text-3xl font-bold">Portfolio</h2>
  </div>
  <br>

  <div class="grid grid-cols-4 gap-2 gap-x-4 gap-y-4">
    <div>
      <img src="assets/img/grid1.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid2.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid3.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid4.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid5.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/mini.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid7.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid8.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
  </div>
  <br><br><br>

  <div class="text-center">
    <h2 class="text-3xl font-bold">
      Testimonials</h2>
  </div>
  <br><br>

  <div class="grid grid-cols-2 gap-x-1">
    <div class="text-center">
      <img src="assets/img/user1.webp" class="mx-auto rounded-full w-full max-w-[96px] max-h-max" /><br>
      <p class="text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.</p><br>
      <p><strong>Dolores Coline</strong> - <em>Marketing Expert</em></p>
    </div>
    <div class="text-center">
      <img src="assets/img/user2.webp" class="mx-auto rounded-full w-full max-w-[96px] max-h-max" /><br>
      <p class="text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.</p><br>
      <p><strong>Eric Mayer</strong> - <em>Wordpress Developer</em></p>
    </div>
  </div>
  <br>

  <div class="text-center">
    <br><br><br>
    <h2 class="text-3xl font-bold">
      Latest Post</h2>
  </div> <br><br>

  <div class="grid grid-cols-3 gap-x-4">
    <div class="space-y-3">
      <img src="assets/img/last1.webp" class="w-full max-w-[373px] max-h-[210]" />
      <p class="text-base font-bold hover:underline"><a
          href="https://demo.gretathemes.com/estar/2020/03/31/the-key-of-branding/">The Key Of Branding – A Different
          View From User Perspective</a></p>
    </div>
    <div class="space-y-3">
      <img src="assets/img/last2.webp" class="w-full max-w-[373px] max-h-[210]" />
      <p class="text-base font-bold hover:underline"><a
          href="https://demo.gretathemes.com/estar/2020/03/30/conversion-rate/">What Is Conversion Rate And Why Is
          Everyone Talking About It?</a></p>
    </div>
    <div class="space-y-3">
      <img src="assets/img/last3.webp" class="w-full max-w-[373px] max-h-[210]" />
      <p class="text-base font-bold hover:underline"><a
          href="https://demo.gretathemes.com/estar/2020/03/29/everything-you-need-to-know-about-marketing/">Everything
          You Need to Know About Digital Marketing In 2020</a></p>
    </div>
  </div><br>

  <div class="text-center">
    <br><br><br>
    <h2 class="text-3xl font-bold">
      Clients</h2>
  </div><br>

  <div class="grid grid-cols-5 gap-x-8">
    <div>
      <img src="assets/img/clients1.webp" class="w-full max-w-[260px] max-h-[66]" />
      <br>
    </div>
    <div>
      <img src="assets/img/clients2.webp" class="w-full max-w-[260px] max-h-[66]" />
      <br>
    </div>
    <div>
      <img src="assets/img/clients3.webp" class="w-full max-w-[260px] max-h-[66]" />
      <br>
    </div>
    <div>
      <img src="assets/img/clients4.webp" class="w-full max-w-[260px] max-h-[66]" />
      <br>
    </div>
    <div>
      <img src="assets/img/clients5.webp" class="w-full max-w-[260px] max-h-[66]" />
      <br>
    </div>
  </div>
  <br><br>
</div>

<div class="border">
  <br><br>
  <div class="container w-full max-w-[1004px] px-1 mx-auto grid grid-cols-4 gap-x-8">
    <div>
      <h3 class="font-bold text-base">CONTACT INFO</h3><br>

      <div class="grid gap-y-1">
        <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut
          labore et dolore magna aliqua.</p><br>
        <p class="text-sm"><i class="fa-solid fa-location-dot text-black"></i>
          <em> 123 Street, Town, CA 10100, USA</em></p>
        <p class="text-sm text-blue-500 hover:underline"><i class="fa-solid fa-envelope-open text-black"></i>
          myemail@example.com</p>
        <p class="text-sm text-blue-500 hover:underline"><i class="fa-solid fa-phone text-black"></i> (123)-456-7890
        </p>
      </div>

      <br>


      <div class="flex gap-2">
        <div>
          <a href="">
            <img src="assets/img/fb.png" class="hover:scale-125 rounded-full max-w-[36px] max-h-[36px]" /></a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/twit.webp" class="hover:scale-125 rounded-full max-w-[36px] max-h-[36px]" /></a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/yt.png" class="hover:scale-125 rounded-full max-w-[36px] max-h-[36px]" />
          </a>
        </div>
      </div><br>


    </div>
    <div>
      <h3 class="font-bold text-base">QUICK LINKS</h3><br>
      <div class="grid gap-y-2">
        <a href="">
          <p class="text-sm text-blue-500 hover:underline">About Us</p>
        </a>
        <a href="">
          <p class="text-sm text-blue-500 hover:underline">Our Services</p>
        </a>
        <a href="">
          <p class="text-sm text-blue-500 hover:underline">Contact Us</p>
        </a>
        <a href="">
          <p class="text-sm text-blue-500 hover:underline">Latest News</p>
        </a>
        <a href="">
          <p class="text-sm text-blue-500 hover:underline">Frequently Asked Questions</p>
        </a>
      </div>
    </div>
    <div>
      <h3 class="font-bold text-base">GALERY</h3><br>
      <div class="grid grid-cols-3 gap-x-2 gap-y-2">
        <div>
          <a href="">
            <img src="assets/img/grid8.webp" class="w-full max-w-[210px] max-h-[210]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid7.webp" class="w-full max-w-[210px] max-h-[210]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/mini.webp" class="w-full max-w-[210px] max-h-[210]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid5.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid4.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid3.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid2.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/grid1.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
        <div>
          <a href="">
            <img src="assets/img/meja1.webp" class="w-full max-w-[210px] max-h-[210px]" />
          </a>
        </div>
      </div>
    </div>
    <div>
      <h3 class="font-bold text-base">RECENT POSTS</h3><br>


      <div class="grid gap-y-3">

        <div class="flex gap-x-3">
          <a href="">
            <img src="assets/img/last1.webp" class="h-64 w-64 max-w-[64px] max-h-[64px]" />
          </a>
          <div class="grid gap-y-1">
            <p class="font-bold text-xs hover:underline">The Key Of Branding – A Different View From User Perspective
            </p>
            <p class="text-xs font-normal text-gray-400">March 31, 2020</p>
          </div>
        </div>

        <div class="flex gap-x-3">
          <a href="">
            <img src="assets/img/last2.webp" class="h-64 w-64 max-w-[64px] max-h-[64px]" />
          </a>
          <div class="grid gap-y-1">
            <p class="font-bold text-xs hover:underline">What Is Conversion Rate And Why Is Everyone Talking About It?
            </p>
            <p class="text-xs font-normal text-gray-400">March 30, 2020</p>
          </div>
        </div>

        <div class="flex gap-x-3">
          <a href="">
            <img src="assets/img/last3.webp" class="h-64 w-64 max-w-[64px] max-h-[64px]" />
          </a>
          <div class="grid gap-y-1">
            <p class="font-bold text-xs hover:underline">
              Everything You Need to Know About Digital Marketing In 2020</p>
            <p class="text-xs font-normal text-gray-400">March 29, 2020</p>
          </div>
        </div>

      </div>

    </div>
  </div><br><br>
</div>

<div class="text-center">
  <br>
  <p class="text-base font-normal text-gray-500">Copyright © 2022 eStar. Theme <a
      href="https://gretathemes.com/wordpress-themes/estar/" class="text-blue-500 hover:underline">eStar</a>
    by GretaThemes.</p>
  <br>
</div>
