<app-navbar></app-navbar>

<!-- Photo -->
<div class="flex items-center" id="demos">
  <img src="assets/img/bgland.webp" class="object-cover brightness-75 h-[600px] w-full" />

  <div class="w-full text-center absolute">
    <p class="text-5xl font-bold text-white text-center">
      Build Your Dream Website</p><br>
    <p class="text-2xl font-normal text-white text-center">Everything you need to build a business,
      portofolio,
      blog website.</p><br>

    <div class="flex justify-center space-x-5">
      <button type="button"
        class=" text-white bg-blue-500 hover:bg-blue-500 font-bold  text-sm rounded dark:bg-blue-500 dark:hover:bg-blue-700 px-4 py-2.5 mb-2">DOWNLOAD
        NOW</button>
      <button class="text-white border-2 border-white hover:text-white font-bold  text-sm px-4 py-2.5 mb-2 rounded"
        type="button">
        Learn More
      </button>
    </div>
  </div>

</div> <br><br>


<!-- Content -->

<div class="container w-full max-w-[1004px] px-1 mx-auto">
  <div class="items-center flex flex-col md:grid md:grid-cols-2" id="about">
    <div class="gap-y-5 mx-5">
      <br><br>
      <p class="text-normal text-gray-400">FEATURES</p><br>
      <p class="text-4xl font-bold leading-tight">Create Profesional Layouts Like an Expert</p><br>
      <p class="text-lg leading-relaxed text-gray-600">Seamlessly integrating with Gutenberg (and
        other
        page builder plugins), eStar allows you to create professional layouts for your websites without
        installing any extra plugin. Building your homepage (just like this), landing pages, contact
        page,
        about page is now easy and take no time at all.</p><br>
      <button type="button"
        class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-bold rounded text-base px-5 py-2  dark:bg-blue-500 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn
        More</button>
    </div>

    <div class="order-first">
      <img src="assets/img/meja1.webp" class="h-[555px] w-[555px]" />
    </div>
  </div>


  <div class="flex flex-col md:grid md:grid-cols-2">
    <div class="md:order-last">
      <img src="assets/img/mini.webp" class="h-[555px] w-[555px]" />
    </div>
    <div class="gap-y-5 mx-10">
      <br><br><br>
      <p class="text-normal text-gray-400">FEATURES</p> <br>
      <p class="text-4xl font-bold leading-tight">Customize Each and Everything You Need</p> <br>
      <p class="text-lg leading-relaxed text-gray-600">eStar provides a complete options set for you
        to
        customize the website, such as custom fonts, custom colors or layout options. With the target of
        using eStar to build multiple types of websites and keeping everything simple, the options are
        chosen carefully to make sure you’re not lost in the options maze.</p><br>
      <button type="button"
        class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-bold rounded text-base px-5 py-2  dark:bg-blue-500 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Learn
        More</button>
    </div>
  </div>

  <!-- Building a Website -->
  <br><br>
  <div class="flex">
    <div class="w-[150px]">

    </div>
    <div class="">
        <p class="text-xl text-center">Building a website <em>might</em> takes a lot of time and effort. That’s why we
          build eStar to help you do
          that easier. Check out the features of this awesome WordPress theme below
        </p>
    </div>
    <div class="w-[150px]">

    </div>
  </div>

  <br><br>
  <p id="features" class="text-3xl text-center font-bold">Features</p><br><br>

  <div class="md:grid grid-cols-3 md:gap-2 gap-x-10 gap-y-10">
    <div>
      <fa-icon [icon]="faFileCode" style="font-size: 1.8cm"></fa-icon> <br><br>
      <p class="font-bold text-xl">No jQuery</p> <br>
      <p>To achieve the fastest speed, eStar doesn’t use jQuery at all. Everything is just a small vanilla JavaScript
        code!</p><br>
    </div>

    <div>
      <fa-icon [icon]="faClock" style="font-size: 1.8cm"></fa-icon> <br><br>
      <h3 class="font-bold text-xl">Ultra Lightweight</h3> <br>
      <p>With less than 10KB of CSS and JS (gzipped), eStar probably is the most lightweight yet powerful theme
        available.</p><br>
    </div>

    <div>
      <fa-icon [icon]="faClipBoard" style="font-size: 1.8cm"></fa-icon> <br><br>
      <h3 class="font-bold text-xl">Gutenberg-First</h3> <br>
      <p>Built with Gutenberg in mind, eStar is optimized for the block editor with nice styling for blocks and
        combinations.</p><br>
    </div>

    <div>
      <fa-icon [icon]="faNewsPaper" style="font-size: 1.8cm"></fa-icon> <br><br>
      <h3 class="font-bold text-xl">Page Builders Friendly</h3> <br>
      <p>Use eStar with your favorite page builder plugin to build custom layouts. It’s optimized to works with all
        page builders.</p><br>
    </div>

    <div>
      <fa-icon [icon]="faPallete" style="font-size: 1.8cm"></fa-icon> <br><br>
      <h3 class="font-bold text-xl">Fonts & Colors Options</h3> <br>
      <p>Customize colors and fonts for the whole theme with a few clicks. All Google Fonts are available for your
        choice.</p><br>
    </div>

    <div>
      <fa-icon [icon]="faPager" style="font-size: 1.8cm"></fa-icon> <br><br>
      <h3 class="font-bold text-xl">Flexible Layout</h3> <br>
      <p>Layout options are available for archives, posts and pages. You can choose list, grid, card style with
        various options.</p><br>
    </div>
  </div>
  <br><br>

  <div class="text-center" id="portfolio">
    <button type="button"
      class="text-white bg-blue-500 hover:bg-white focus:ring-4 focus:ring-blue-300 font-bold rounded text-sm px-6 py-3 mr-2 mb-2 dark:bg-blue-500 dark:hover:bg-white focus:outline-none dark:focus:ring-blue-800">Learn
      More</button>
    <br><br><br>
    <p class="text-3xl font-bold">Portfolio</p>
  </div>
  <br>

  <div class="grid md:grid-cols-4 grid-cols-2 gap-2 gap-x-4 gap-y-4">
    <div>
      <img src="assets/img/grid1.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid2.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid3.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid4.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid5.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/mini.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid7.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
    <div>
      <img src="assets/img/grid8.webp" class="w-full max-w-[300px] max-h-max" />
    </div>
  </div>
  <br><br><br>

  <div class="text-center">
    <h2 class="text-3xl font-bold">
      Testimonials</h2>
  </div>
  <br><br>

  <div class="grid md:grid-cols-2 gap-x-1" id="shop">
    <div class="text-center">
      <img src="assets/img/user1.webp" class="mx-auto rounded-full w-full max-w-[96px] max-h-max" /><br>
      <p class="text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.</p><br>
      <p><strong>Dolores Coline</strong> - <em>Marketing Expert</em></p><br>
    </div>
    <div class="text-center">
      <img src="assets/img/user2.webp" class="mx-auto rounded-full w-full max-w-[96px] max-h-max" /><br>
      <p class="text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.</p><br>
      <p><strong>Eric Mayer</strong> - <em>Wordpress Developer</em></p>
    </div>
  </div>
  <br>

  <div class="text-center">
    <br><br><br>
    <h2 class="text-3xl font-bold">
      Latest Post</h2>
  </div> <br><br>

  <div class="grid md:grid-cols-3 gap-x-4">
    <div class="space-y-3">
      <img src="assets/img/last1.webp" class="w-full max-w-[373px] max-h-[210]" />
      <p class="text-base font-bold hover:underline"><a
          href="https://demo.gretathemes.com/estar/2020/03/31/the-key-of-branding/">The Key Of Branding – A Different
          View From User Perspective</a></p>
    </div>
    <div class="space-y-3">
      <img src="assets/img/last2.webp" class="w-full max-w-[373px] max-h-[210]" />
      <p class="text-base font-bold hover:underline"><a
          href="https://demo.gretathemes.com/estar/2020/03/30/conversion-rate/">What Is Conversion Rate And Why Is
          Everyone Talking About It?</a></p>
    </div>
    <div class="space-y-3">
      <img src="assets/img/last3.webp" class="w-full max-w-[373px] max-h-[210]" />
      <p class="text-base font-bold hover:underline"><a
          href="https://demo.gretathemes.com/estar/2020/03/29/everything-you-need-to-know-about-marketing/">Everything
          You Need to Know About Digital Marketing In 2020</a></p>
    </div>
  </div><br>

  <div class="text-center">
    <br><br><br>
    <h2 class="text-3xl font-bold">
      Clients</h2>
  </div><br>

  <div class="grid md:grid-cols-5 justify-center gap-x-8">
    <div>
      <img src="assets/img/clients1.webp" class="w-full max-w-[260px] max-h-[66]" />
      <br>
    </div>
    <div>
      <img src="assets/img/clients2.webp" class="w-full max-w-[260px] max-h-[66]" />
      <br>
    </div>
    <div>
      <img src="assets/img/clients3.webp" class="w-full max-w-[260px] max-h-[66]" />
      <br>
    </div>
    <div>
      <img src="assets/img/clients4.webp" class="w-full max-w-[260px] max-h-[66]" />
      <br>
    </div>
    <div>
      <img src="assets/img/clients5.webp" class="w-full max-w-[260px] max-h-[66]" />
      <br>
    </div>
  </div>
  <br><br>
</div>

<app-footer></app-footer>
